@import "/src/styles/fonts.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//
//sizes
//
$space: 8px;
$space2: $space*2;
$space3: $space*3;
$space4: $space*4;
$space5: $space*5;
$space6: $space*6;
$space7: $space*7;
$space8: $space*8;
$space9: $space*9;
$space10: $space*10;
$size: $space2;
$small: $size;
$medium: $size + $space;
$large: $size * 2;
//

//
//colors
//
$white: #fff;
$blue: #004283;
//

//
//token names
//
$primaryBlue: $blue;
//
//

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: $white;
  color: $blue;
  padding: 0 $space7;
}

.app {
  min-height: 100%;
  font-family: "Winston", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

.app-header {
  width: 100%;
  padding: 0;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .counter-container {
    display: flex;
  }
  
  .quiz-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $space * 15;
    height: $space9;
    background: url(~@/assets/svg/diamond-bg.svg);
    background-size: cover;
    font-size: $medium;
  }

  h2 {
    text-transform: uppercase;
    font-size: $medium;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $size;
  }

  .brand {
    display: flex;
    justify-content: right;
    img {
      height: $space * 15;
    }
  }
}

h1.quiz-heading {
  font-size: 4em;
  line-height: 1;
}

.quiz-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  height: 100%;
  top: 0;
  left: 56px;
  right: 56px;

  .quiz-content {
    display: flex;
    width: 50%;
  }

  .quiz-home {
    padding: 0 8em;
  }

}

.quiz-button {
  display: block;
  border: 2px solid $primaryBlue;
  color: $primaryBlue;
  font-size: $large;
  padding: $space + 4;
  text-align: center;
  width: 60%;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 $size $space 0 rgba(0, 66, 131, .14);
}

.quiz-game {
  width: 100%;
  h1.quiz-heading {
    font-size: $large + $space;
  }
  .quiz-questions {
    padding: 0;

    .quiz-question-button {
      display: block;
      border: 2px solid $primaryBlue;
      color: $primaryBlue;
      font-size: $medium;
      padding: $space;
      text-align: center;
      width: 80%;
      text-decoration: none;
      box-shadow: 0 $size $space 0 rgba(0, 66, 131, .14);
      margin-bottom: $size;
      background-color: $white;
      cursor: pointer;
    
      &:hover {
        //background-color: AliceBlue;
        background-color: lighten($primaryBlue, 10%);
        color: whitesmoke;
      }
      &.correct {
        background-color: darkgreen;
        border-color: darkgreen;
        color: whitesmoke;
      }
      &.wrong {
        //background-color: LightPink;
        border-color: darkred;
        background-color: darkred;
        color: antiquewhite;
      }
    }
  }
}

.quiz-questions {
  .quiz-question {
    list-style-type: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 0 0 $space5 0;
  font-weight: 300;
  font-size: $medium;
}


@keyframes loader-1 {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
    opacity: 0;
  }
}
.loader span::after {
  animation: loader-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s infinite;
}
@keyframes loader-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
}

/* Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.95);
}
